:root{
    --colorTextPrimary:#ffffff;
    --colorTextAccent:#fbd784;
    --colorBackground:#0b1d26;

}
/* ======================global======================= */

body{
    font-family: "Chivo", sans-serif; 
    font-size: 18px;
    font-weight: 700;
    color: var(--colorTextPrimary);
    background-color: var(--colorBackground);
}

.container{
    max-width: 1507px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-right: 150px;
}
/* =========================HEADER========================= */
.header {
    padding-top: 64px;
    margin: 0 80px;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 93.22;
    padding: 0 15px;
    margin: 0 auto;
}
.logo{
    font-family: "Chonburi", serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-action{
    font-size: 19px;
    font-weight: 900;
}

/* =================main================= */
.hero-container{
    max-width: 980px;
}
.hero{
    padding-top: 200px;
    padding-bottom: 745px;
}
.hero-subtitle{
    letter-spacing: 0.33em;
    text-transform: uppercase;
    margin-bottom: 32px;

}

.hero-title{
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-size: 88px;
    line-height: 1.13636;
    text-transform: capitalize;
    margin-bottom: 32px;

}
.travel{
    padding-bottom: 300px;
}
.travel-item{
    margin-bottom: 200px;
}
.travel-item:last-child{
    margin-bottom: 0px;
}
.travel-step{
    display: flex;
    gap: 15px;
}
.travel-item:nth-child(even) .step-photo{
    order: -1;
}
.step-body{
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding-left: 150px;
}
.step-text{
    font-weight: 900;
    line-height:0.33em;
    text-transform: uppercase;
    color: var(--colorTextAccent);
}
.step-title{
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-size: 64px;
}
.step-description{
    font-weight: 900;
    line-height: 1.77778;
}
.step-link{
    color: var(--colorTextAccent);
    font-weight: 900;
    
}
.footer-container{
    
}
.footer{
    padding-bottom: 120px;
}
.footer-info-text{
    font-weight: 900;
    line-height: 1.77778;
}
.fotter-info-copyriht{
    line-height: 1.77778;
    opacity: 0.5;
}
.blog-title,
.mntn-title{
    font-weight: 900;
    font-size: 24px;
    line-height: 1.33333;
    color: var(--colorTextAccent);
}

.blog-link,
.mntn-link{
    line-height: 1.77778;
}